body {
  background: transparent url('timer-area-pattern.png') left top;
  color: white;
}
section {
  text-align: center;
}
/* place resetting */

.flip-clock-label {
  /*display: none;*/
  font-size: 1.2em;
  font-weight: bold;
  color: #6e6e6e;
}
.flip-clock-divider {
  height: 85px;
}

.flip-clock-divider .flip-clock-label {
  bottom: 0.2em;
  color: white;
}

.flip-clock-dot {
  background: transparent;
  box-shadow: none;
}
.flip-clock-label {

}

.flip-clock-divider.days .flip-clock-label {
}

.flip-clock-divider.hours .flip-clock-label {
}

.flip-clock-divider.minutes .flip-clock-label {
}

.flip-clock-divider.seconds .flip-clock-label {
}

.flip:nth-last-of-type(2),
.flip:last-of-type {
  display: block;
}

.flip-clock-wrapper {
  margin: 1em auto;
  width: 410px;
}

.flip-clock-wrapper ul {
  height: 50px;
  width: 30px;
  background: white;
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: 40px;
}

.flip-clock-wrapper ul li {
  line-height: 1.2;
}

.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(181, 181, 181, 0.4)
}

.flip-clock-wrapper ul li a div div.inn {
  background-color: rgb(251, 251, 251);
  color: #3b3b3b;
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, #c6c6c6));
}

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, #c6c6c6));
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, #c6c6c6));
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, #c6c6c6));
}
/*.flip-clock-divider.hours .flip-clock-label,
.flip-clock-divider.minutes .flip-clock-label,
.flip-clock-divider.seconds .flip-clock-label{
  right: -158px;
}*/
