#photos_focus_area.area
  h3 今日推薦
  #photos_focus.focus_area
    #carousel
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8213_img_file.jpg?20150922165137&amp;sl=W&amp;fw=700')
        span.wmark
        h1 細數藝人在特殊日子發的文 強國人玻璃心好難醫？
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7990_img_file.jpg?20150907150147&sl=W&fw=700')
        span.wmark
        h1 400個麵包一夜賣完超溫馨 網友：我也訂錯了…
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7976_img_file.jpg?20150907135241&sl=W&fw=700')
        span.wmark
        h1 好傻好天真 當年大人那些沒創意的騙句也騙得倒你！
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7975_img_file.png?20150907122250&sl=W&fw=700')
        span.wmark
        h1 超可怕der！那以後歷史課本也不要放大衛像了？
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7865_img_file.jpg?20150904162017&sl=W&fw=700')
        span.wmark
        h1 【一劍浣春秋】開賣四小時就完售，你買到波多野結衣的悠遊卡了嗎？
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8019_img_file.PNG?20150904161135&sl=W&fw=700')
        span.wmark
        h1 醜到要哭！強國超雷蠟像再現 范冰冰一秒變紙紮人
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7973_img_file.png?20150904160415&sl=W&fw=700')
        span.wmark
        h1 CCR大解密：滾床單時到底用哪國語言？
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8238_img_file.jpg?20150924160915&sl=W&fw=700')
        span.wmark
        h1 「單身餐廳」設局一秒變相親 網友喊：來台灣開！
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8017_img_file.PNG?20150904150911&sl=W&fw=700')
        span.wmark
        h1 那些年令女孩兒們怦然心動的少女漫畫～妳看過幾本？
      a(href='#')
        img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7901_img_file.jpg?20150904135506&sl=W&fw=700')
        span.wmark
        h1 X歲定終身！若X歲還是處男的話這輩子就都處男了

    a#focus_arrow_prev(href='#', title='Show focus_arrow_previous')
      | focus_arrow_previous
      b
    a#focus_arrow_next(href='#', title='Show focus_arrow_next')
      | focus_arrow_next
      b
    #pager
