doctype html
html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=5.0', name='viewport')
    title 2016 選舉特別報導 | 聯合新聞網
    link(href='../tempfolder/vote.css', rel='stylesheet')
    link(href='../tempfolder/default.css', rel='stylesheet')
    //- link(href='../tempfolder/mag.css', rel='stylesheet')
    link(href='../css/flipclock.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    link(href="../css/trackpad-scroll-emulator.css", rel="stylesheet")
    // for Facebook
    meta(property='og:title', content='2016 選舉特別報導 | 聯合新聞網 ')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://vote2016.udn.com/vote2016/index')
    meta(property='og:image', content='http://vote2016.udn.com/vote2016//UDN_BABY.png')
    meta(property='og:image:width', content='1000')
    meta(property='og:image:height', content='1000')
    meta(property='og:site_name', content='2016 選舉特別報導')
    meta(property='og:description', content='2016 選舉特別報導')
    meta(property='fb:admins', content='100002847892748')
    meta(property='fb:app_id', content='803604343037126')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='../js/jquery.event.drag-2.2.js')
    script(src='../js/jquery.wookmark.min.js')
    script(src='../js/jquery.fitvids.js')
    script(src='../js/jquery.cookie.js')
    script(src='../js/common.js')
    script(src='../js/common2.js')
    script(src='../js/jquery.carouFredSel-6.2.1-packed.js')

    script(src="../js/jquery.trackpad-scroll-emulator.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/exporting.js")
      
    script(src='../js/flipclock.js')
    script(src='../js/script.js')
    script(src="http://j.udn.com.tw/func/js/accept_var_min.js")
    script(src="http://j.udn.com.tw/func/js/voteinit_min.js")
  body.mag
    #loading
    #menu_mark
    #container
      #header
        #header_body_wrapper
          a(href="http://udn.com", target="_blank" class="logo logo-backudn")
          a(href="http://vote.udn.com", target="_blank" class="logo logo-voteudn")
          a(href="http://", target="_blank" class="fb-udn") 
            .fb-sharepage.animated
          aside.count-down
            section.timer-text 距離選舉還有
            section.clock-wrapper
              .clock
        // /#header_body_wrapper
        .menu
          dl
            dt
              a.active(href='#', rel='#', title='網路夯新聞') 網路夯新聞
            dt
              a(href='#', rel='#', title='文字論選戰') 文字論選戰
            dt
              a(href='#', rel='#', title='圖表解民調') 圖表解民調
            dt
              a(href='#', rel='#', title='透視候選人') 透視候選人
            dt
              a(href='#', rel='#', title='回顧選舉史') 回顧選舉史
            dt
              a(href='#', rel='#', title='也來玩選舉') 也來玩選舉
            a(href="http://", target="_blank" class="fb-udn") 
              .fb-sharepage.animated
        // /.menu
      // /#header
      section.big-img
      // .big-img
      #ad_1.only_web(style='max-height:110px')
        iframe(src='../tempfolder/ads2.html',  frameborder='0', scrolling='no')
      #wrapper
        #video_live.area
          //- h3 影音直播
          .video-tube
            iframe(width='100%', height='100%', src='https://www.youtube.com/embed/uSjmL9m7hkg', frameborder='0', allowfullscreen='')
          .video-chat
            .chat-box.tse-scrollable 
              .tse-content
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
                li.message-line.chat-line
                  span.from andy7577272
                  span.chatbox-timestamp (10:54)
                  span.colon :
                  span.message 這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息這是訊息
            .nickname-box
              .nickname-placeholer
                | 歡迎 #[span.nickname-name 宏休逐] ！
                span.not-name 
                  span.nickname-name 宏休逐
                  a 不是你嗎?
              input(type="text", placeholder="請輸入您的暱稱", maxlength="10")
            .chat-textbox
              textarea(placeholder="請輸入文字")
            .chat-send 送出訊息
              //- <div class="bbox"><b></b>我要投票</div>
        #highchart-vote.area
          h3 媒體民調
          .highchart-container(style='width: 100%; margin: 0 auto')
            script.
              $('.highchart-container').highcharts({
              chart: {
              type: 'line',
              style: {
              fontFamily: '微軟正黑體, Microsoft JhengHei',
              },
              },
              title: {
              text: 'Demo民調測試',
              },
              subtitle: {
              text: '資料來源: 聯合線上',
              },
              xAxis: {
              categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
              },
              yAxis: {
              title: {
              text: '民調百分比',
              },
              },
              plotOptions: {
              line: {
              dataLabels: {
              enabled: false,
              },
              enableMouseTracking: false,
              },
              },
              series: [{
              name: '國民黨',
              color: '#478df5',
              data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
              }, {
              name: '民進黨',
              color: '#2fff27',
              data: [6, 10, 6, 6.5, 3.9, 7.2, 8.0, 7.6, 7.2, 8.3, 6.6, 8.8],
              }, {
              name: '親民黨',
              color: '#fb8222',
              data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8],
              }, {
              name: '其他',
              data: [1, 2, 1.7, 1.5, 1.9, 1.2, 1.0, 1.6, 1.2, 1.3, 1.6, 1.8],
              color: 'grey',
              dashStyle: 'dash'
              }]
              });
            
        #mainbar
          #photos_focus_area.area
            h3 今日推薦
            #photos_focus.focus_area
              #carousel
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8065_img_file.PNG?20150907155042&sl=W&fw=700')
                  span.wmark
                  h1 細數藝人在特殊日子發的文 強國人玻璃心好難醫？
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7990_img_file.jpg?20150907150147&sl=W&fw=700')
                  span.wmark
                  h1 400個麵包一夜賣完超溫馨 網友：我也訂錯了…
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7976_img_file.jpg?20150907135241&sl=W&fw=700')
                  span.wmark
                  h1 好傻好天真 當年大人那些沒創意的騙句也騙得倒你！
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7975_img_file.png?20150907122250&sl=W&fw=700')
                  span.wmark
                  h1 超可怕der！那以後歷史課本也不要放大衛像了？
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7865_img_file.jpg?20150904162017&sl=W&fw=700')
                  span.wmark
                  h1 【一劍浣春秋】開賣四小時就完售，你買到波多野結衣的悠遊卡了嗎？
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8019_img_file.PNG?20150904161135&sl=W&fw=700')
                  span.wmark
                  h1 醜到要哭！強國超雷蠟像再現 范冰冰一秒變紙紮人
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7973_img_file.png?20150904160415&sl=W&fw=700')
                  span.wmark
                  h1 CCR大解密：滾床單時到底用哪國語言？
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8018_img_file.jpg?20150904151511&sl=W&fw=700')
                  span.wmark
                  h1 「單身餐廳」設局一秒變相親 網友喊：來台灣開！
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/8017_img_file.PNG?20150904150911&sl=W&fw=700')
                  span.wmark
                  h1 那些年令女孩兒們怦然心動的少女漫畫～妳看過幾本？
                a(href='#')
                  img(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/tab/photo/7901_img_file.jpg?20150904135506&sl=W&fw=700')
                  span.wmark
                  h1 X歲定終身！若X歲還是處男的話這輩子就都處男了
              // /#carousel
              a#focus_arrow_prev(href='javascript:void(0);', title='Show focus_arrow_previous')
                | focus_arrow_previous
                b
              a#focus_arrow_next(href='javascript:void(0);', title='Show focus_arrow_next')
                | focus_arrow_next
                b
              #pager
              // /#pager
            // /#photos_focus
          // /#photos_focus_area
          #udn-Tv.area
            h3 影音觀大選
            .udn-video-container
              iframe(width="100%" height="100%" src="https://video.udn.com/play/section/8537" frameborder="0" allowfullscreen)
          #pictureChart.area
            h3 圖表看選舉
            .chart-wrapper
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/01.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜市場名
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/02.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜ss市場名
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/03.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜市場名
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/04.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜市場名
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/05.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜市場名
              .thumbnail
                a(target='_blank', href='http://www.udn.com/2014/11/25/NEWS/NATIONAL/NATS4/9088728.shtml')
                  img(src='http://udn.com/vote2014/photo/topic/06.jpg')
                  .topic_title 17個「永昌」…選舉大軍的菜市場名
          #mag_most
            .area
              h3
                span.area-main-title 總統
                | 選聞火熱排行
              .area_body.area_number
                ol
                  li
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
                    span.pg-view 24242
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 2422
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 2
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 241
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 女神結婚背後的殘酷現實：人帥男子漢，人醜是癡漢
                    span.pg-view 24
                  li
                    a(href='#') 波多野結衣是擋箭牌？北市府「三大陰謀論」曝光
                    span.pg-view 24
                  li
                    a(href='#') 小朋友問波多野結衣是誰？網友以各行業神譬喻！
                    span.pg-view 24
                  li
                    a(href='#') 負債天菜VS有錢醜男 女生最後選擇嫁給…？
                    span.pg-view 24
              // /#mag_most_hot_body
            // /#mag_most_hot
            .area
              h3
                span.area-main-title 立委
                | 選聞火熱排行
              .area_body.area_number
                ol
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                    span.pg-view 24
                  li
                    a(href='#') 女神結婚背後的殘酷現實：人帥男子漢，人醜是癡漢
                    span.pg-view 24
                  li
                    a(href='#') 波多野結衣是擋箭牌？北市府「三大陰謀論」曝光
                    span.pg-view 24
                  li
                    a(href='#') 小朋友問波多野結衣是誰？網友以各行業神譬喻！
                    span.pg-view 24
                  li
                    a(href='#') 負債天菜VS有錢醜男 女生最後選擇嫁給…？
                    span.pg-view 24
              // /#mag_most_hot_body
            // /#mag_most_hot
            .area
              h3 最新
                span.area-main-title 總統
                | 選聞
              .area_body
                dl
                  dt
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
                  dt
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                  dt
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                  dt
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                  dt
                    a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                  dt
                    a(href='#') 女神結婚背後的殘酷現實：人帥男子漢，人醜是癡漢
                  dt
                    a(href='#') 波多野結衣是擋箭牌？北市府「三大陰謀論」曝光
                  dt
                    a(href='#') 小朋友問波多野結衣是誰？網友以各行業神譬喻！
                  dt
                    a(href='#') 負債天菜VS有錢醜男 女生最後選擇嫁給…？
              // /#mag_most_hot_body
            // /#mag_most_hot
            .area
              h3 最新
                span.area-main-title 立委
                | 選聞
              .area_body
                dl
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
              // /#mag_most_new_body
            // /#mag_most_new
            .area
              h3
                span.area-main-title 北北基桃竹
                | 立委選聞
              .area_body
                dl
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
              // /#mag_most_new_body
            .area
              h3
                span.area-main-title 苗中彰投雲
                | 立委選聞
              .area_body
                dl
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
              // /#mag_most_new_body
            .area
              h3
                span.area-main-title 嘉南高屏澎
                | 立委選聞
              .area_body
                dl
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
              // /#mag_most_new_body
            .area
              h3
                span.area-main-title 宜花東金馬
                | 立委選聞
              .area_body
                dl
                  dt
                    a(href='#') 葬禮自拍、血床單 哪些誇張打卡讓你超想封鎖！
                  dt
                    a(href='#') 女生說「不要」時千萬不要停～女生就是愛講反話啊！
                  dt
                    a(href='#') 男生薪水一定要比較高？因為社會就是這樣鼓勵你的
                  dt
                    a(href='#') 有沒有染了金髮就會變帥、變國際化的八卦？
                  dt
                    a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
              // /#mag_most_new_body
          // /#mag_most
          .area.category_box
            h3
              a(href='#1') 網路夯話題
              a.more.topic(href='#1', title='more')
            .category_box_list.topic
              dl.max
                dt.big
                  a.category_box_img(href='#')
                    img(alt='', src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/2015/09/08/1/1289677.jpg&s=Y&x=50&y=50&sw=480&sh=320&sl=W&fw=300')
                  a.category_box_ch(href='#') 抬摃選總統
                  a.category_box_topic(href='#')
                    h3 出國就是不想代買！不撕破臉的「拒絕話術」這樣說
                    span 平常從不噓寒問暖的點頭之交，還是那些出生後見過次數10根手指都數得出來的親戚，突然就會冒出來問你說「ㄟ～聽說你要出國唷～可不可以幫我買ＸＸＸ啊？」如果態度有禮也不指定，可能還會讓你...
                  dl
                    dt
                      a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                    dt
                      a(href='#') 超可怕der！那以後歷史課本也不要放大衛像了？
              hr
              dl.max
                dt.big
                  a.category_box_img(href='#')
                    img(alt='', src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/2015/09/08/1/1289677.jpg&s=Y&x=50&y=50&sw=480&sh=320&sl=W&fw=300')
                  a.category_box_ch(href='#') 品頭論立委
                  a.category_box_topic(href='#')
                    h3 出國就是不想代買！不撕破臉的「拒絕話術」這樣說
                    span 平常從不噓寒問暖的點頭之交，還是那些出生後見過次數10根手指都數得出來的親戚，突然就會冒出來問你說「ㄟ～聽說你要出國唷～可不可以幫我買ＸＸＸ啊？」如果態度有禮也不指定，可能還會讓你...
                  dl
                    dt
                      a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                    dt
                      a(href='#') 超可怕der！那以後歷史課本也不要放大衛像了？
            // /.category_box_list
          .area.category_box
            h3
              a(href='#1') 熱搜話題
              a.more.topic(href='#1', title='more')
            .category_box_list.topic
              dl.max
                dt.big
                  a.category_box_img(href='#')
                    img(alt='', src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/2015/09/11/1/1300623.png&s=Y&x=2&y=1&sw=477&sh=318&sl=W&fw=300')
                  a.category_box_ch(href='#') 哈特夯聞
                  a.category_box_topic(href='#')
                    h3 出國就是不想代買！不撕破臉的「拒絕話術」這樣說
                    span 平常從不噓寒問暖的點頭之交，還是那些出生後見過次數10根手指都數得出來的親戚，突然就會冒出來問你說「ㄟ～聽說你要出國唷～可不可以幫我買ＸＸＸ啊？」如果態度有禮也不指定，可能還會讓你...
              dl.max.max-more
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
                dt
                  a(href='#') 藝人特殊日發不發文都被轟 強國人玻璃心好難醫？
            // /.category_box_list
            .showmore
              a.more(href='javascript:void(0);', id='', onclick='showmore(1011,6681,6698);', title='more')
                .bbox
                  b 
                  | 看更多內容
              input(name='moreId_6698', type='hidden', value='1')
          #comments.area
            h3
              span 留言
            a(name='fb_comments')
            #comments_head
              #fb-root
              .fb-comments(data-href='', data-numposts='5')
            // /#comments_head
          .poll-area_left.area
            #poll_at_page_right_0_v40.poll_at_page_right
              script.
                var channelId=3000; var actArea="poll_at_page_right_0_v40";var actCode="v40";document.write('<div id="' + actArea + '" class="poll_at_page_right"></div>');document.write('<script src="./js/actIndex.jsp?actCode=' +  actCode + '&channelId=' + channelId + '"> <\/script>');
              script.
                piepkg();
              script.
                loadTemplateJs(d1.actTemplate);
              script.
                eval(d1.actTemplate+'view("' + '#' + actArea + '");');
        // /#mainbar
        #sidebar
          #sidebar_fix
            .poll-area_right.area
              #poll_at_page_right_1_v40.poll_at_page_right
                script.
                  var channelId=3000; var actArea="poll_at_page_right_1_v40";var actCode="v40";document.write('<div id="' + actArea + '" class="poll_at_page_right"></div>');document.write('<script src="../js/actIndex.jsp?actCode=' +  actCode + '&channelId=' + channelId + '"> <\/script>');
                script.
                  piepkg();
                script.
                  loadTemplateJs(d1.actTemplate);
                script.
                  eval(d1.actTemplate+'view("' + '#' + actArea + '");');
            // /#mag_topic
            #ad_mag
              dl
                dt
                  iframe(frameborder='0', height='250', scrolling='no', src='../tempfolder/ads.html', width='300')
            .fb-page.area
              h3
                a(href='https://www.facebook.com/myudn') udn粉絲團
              .fb-like-box(data-href='https://www.facebook.com/myudn', data-width='300', data-height='300', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='true', data-show-border='false')
            // /#mag_topic
            .fb-page-udn.area(style='position: absolute; left: 394px; top: 330px;')
              h3 udn 社群
              #sidebar_attention_body.area_body
                dl
                  dt.udn_facebook
                    a(href='https://www.facebook.com/myudn', target='_blank')
                      b 
                      | udn Facebook
                  dt.udn_google
                    a(href='https://plus.google.com/105298219321543859712/posts', target='_blank')
                      b 
                      | udn google +
                  dt.udn_line
                    img(src="http://opinion.udn.com/img/u.png", alt="udn line")
                    a(href='https://twitter.com/Oopsudn', target='_blank')
                      | 掃描加入
              // /#sidebar_attention_body
            // /#mag_topic
          // /#sidebar_fix
        // /#sidebar
      // /#wrapper
      #footer
        #footer_wrapper
          #footer_wrapper_links.only_web
            a(href='http://event.udn.com/AD/', target='_blank') 刊登網站廣告 ︱
            a(href='http://udn.com/page/topic/496', target='_blank') 網站總覽 ︱
            a(href='http://udn.com/page/topic/184', target='_blank') FAQ ︱
            a(href='http://www.udngroup.com/2c/cservice/index2.jsp?qfile=dotcom', target='_blank') 客服 ︱
            a(href='http://udndata.com/udnauthority.html', target='_blank') 新聞授權 ︱
            a(href='http://udn.com/page/topic/185', target='_blank') 服務條款 ︱
            a(href='http://udn.com/page/topic/495', target='_blank') 著作權 ︱
            a(href='http://www.udngroup.com/2c/private.jsp', target='_blank') 隱私權聲明 ︱
            a(href='http://www.udngroup.com/2c/cservice/index.jsp', target='_blank') 聯合報系 ︱
            a(href='http://www.udngroup.com/2c/promote/orderall.jsp', target='_blank') 訂報紙 ︱
            a(href='http://co.udn.com/', target='_blank') 關於我們 ︱
            a(href='http://co.udn.com/CORP/job.html', target='_blank') 招募夥伴 
          // /#footer_wrapper_links
          b 聯合線上公司 著作權所有 © udn.com All Rights Reserved.
        // /#footer_wrapper
      // /#footer
      a#gotop(class="gt-top") Top
      // /#gotop
      #show_box(style='display: none;')
      // /#show_box
    // /#container
    //- script(src="js/jquery.sticky-kit.js")
    //- script.
    //-   $("#sidebar").stick_in_parent();
