doctype html
html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=5.0', name='viewport')
    title 2016 選舉特別報導 | 聯合新聞網
    link(href='./index_files/vote.css', rel='stylesheet')
    link(href='./index_files/default.css', rel='stylesheet')
    //- link(href='./index_files/mag.css', rel='stylesheet')
    link(href='css/flipclock.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(rel="stylesheet", href="css/trackpad-scroll-emulator.css")
    <!--[if IE 9]>
    link(href='css/ie9.css', rel='stylesheet')
    <![endif]-->
    // for Facebook
    meta(property='og:title', content='2016 選舉特別報導 | 聯合新聞網 ')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://vote2016.udn.com/vote2016/index')
    meta(property='og:image', content='http://vote2016.udn.com/vote2016//UDN_BABY.png')
    meta(property='og:image:width', content='1000')
    meta(property='og:image:height', content='1000')
    meta(property='og:site_name', content='2016 選舉特別報導')
    meta(property='og:description', content='2016 選舉特別報導')
    meta(property='fb:admins', content='100002847892748')
    meta(property='fb:app_id', content='803604343037126')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='./index_files/jquery.event.drag-2.2.js')
    script(src='./index_files/jquery.wookmark.min.js')
    script(src='./index_files/jquery.fitvids.js')
    script(src='./index_files/jquery.cookie.js')
    script(src='./index_files/common.js')
    script(src='./index_files/common2.js')
    script(src='./index_files/jquery.carouFredSel-6.2.1-packed.js')

    script(src="js/jquery.trackpad-scroll-emulator.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/exporting.js")
      
    script(src='js/flipclock.js')
    script(src='js/script.js')
    script(src="http://j.udn.com.tw/func/js/accept_var_min.js")
    script(src="http://j.udn.com.tw/func/js/voteinit_min.js")
  body.mag
    #loading
    #menu_mark
    #container
      #header
        #header_body_wrapper
          a(href="http://udn.com", target="_blank" class="logo logo-backudn")
          a(href="http://vote.udn.com", target="_blank" class="logo logo-voteudn")
          a(href="http://", target="_blank" class="fb-udn") 
            .fb-sharepage.animated
          aside.count-down
            section.timer-text 距離選舉還有
            section.clock-wrapper
              .clock
        // /#header_body_wrapper
        .menu
          dl
            dt
              a(href='#', rel='#', title='網路夯新聞') 網路夯新聞
            dt
              a(href='#', rel='#', title='文字論選戰') 文字論選戰
            dt
              a(href='#', rel='#', title='圖表解民調') 圖表解民調
            dt
              a.active(href='#', rel='#', title='透視候選人') 透視候選人
            dt
              a(href='#', rel='#', title='回顧選舉史') 回顧選舉史
            dt
              a(href='#', rel='#', title='也來玩選舉') 也來玩選舉
            a(href="http://", target="_blank" class="fb-udn") 
              .fb-sharepage.animated
        // /.menu
      // /#header
      #wrapper
        .level-choose
          a(href="#", target="_blank").candidate-active 總統候選人
          a(href="#", target="_blank") 立委候選人
        .state-container.area.only_web
          a(href="#", target="_blank").state-name 臺北市
          a(href="#", target="_blank").state-name 新北市
          a(href="#", target="_blank").state-name 桃園市
          a(href="#", target="_blank").state-name 臺中市
          a(href="#", target="_blank").state-name 臺南市
          a(href="#", target="_blank").state-name 高雄市
          a(href="#", target="_blank").state-name 基隆市
          a(href="#", target="_blank").state-name 新竹市
          a(href="#", target="_blank").state-name 嘉義市
          a(href="#", target="_blank").state-name 新竹縣
          a(href="#", target="_blank").state-name 苗栗縣
          a(href="#", target="_blank").state-name 彰化縣
          a(href="#", target="_blank").state-name 南投縣
          a(href="#", target="_blank").state-name 雲林縣
          a(href="#", target="_blank").state-name 嘉義縣
          a(href="#", target="_blank").state-name 屏東縣
          a(href="#", target="_blank").state-name 宜蘭縣
          a(href="#", target="_blank").state-name 花蓮縣
          a(href="#", target="_blank").state-name 臺東縣
          a(href="#", target="_blank").state-name 澎湖縣
          a(href="#", target="_blank").state-name 金門縣
          a(href="#", target="_blank").state-name 連江縣
        .state-container-mobile.area.only_mobile
          select
            option(value="臺北市").state-name 臺北市
            option(value="新北市").state-name 新北市
            option(value="桃園市").state-name 桃園市
            option(value="臺中市").state-name 臺中市
            option(value="臺南市").state-name 臺南市
            option(value="高雄市").state-name 高雄市
            option(value="基隆市").state-name 基隆市
            option(value="新竹市").state-name 新竹市
            option(value="嘉義市").state-name 嘉義市
            option(value="新竹縣").state-name 新竹縣
            option(value="苗栗縣").state-name 苗栗縣
            option(value="彰化縣").state-name 彰化縣
            option(value="南投縣").state-name 南投縣
            option(value="雲林縣").state-name 雲林縣
            option(value="嘉義縣").state-name 嘉義縣
            option(value="屏東縣").state-name 屏東縣
            option(value="宜蘭縣").state-name 宜蘭縣
            option(value="花蓮縣").state-name 花蓮縣
            option(value="臺東縣").state-name 臺東縣
            option(value="澎湖縣").state-name 澎湖縣
            option(value="金門縣").state-name 金門縣
            option(value="連江縣").state-name 連江縣
        
        .legislator-division.area
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                //- tr
                //-   td 1
                //-   td 王文玉
                //-   td.table-flag #[span.thumb.thumb-gmd]
                //- tr
                //-   td 1
                //-   td 王文玉
                //-   td.table-flag #[span.thumb.thumb-gmd]
                //- tr
                //-   td 1
                //-   td 王文玉
                //-   td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-mjd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-mjd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-mjd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
          section.division-state
            h3 第#[span.division-no 1]選區 （#[span.division-name 北投區、士林區13里]）
            table.division-list
              thead
                tr 
                  th 號碼
                  th 姓名
                  th 黨籍
              tbody
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-mjd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-mjd]
                tr
                  td 1
                  td 王文玉
                  td.table-flag #[span.thumb.thumb-gmd]
        .legislator-news
          .area
            h3
              a(href='#')
                | 最新立委選聞
            .area_body
              dl
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 女神結婚背後的殘酷現實：人帥男子漢，人醜是癡漢
                dt
                  a(href='#') 波多野結衣是擋箭牌？北市府「三大陰謀論」曝光
                dt
                  a(href='#') 小朋友問波多野結衣是誰？網友以各行業神譬喻！
                dt
                  a(href='#') 負債天菜VS有錢醜男 女生最後選擇嫁給…？
            // /legislator-news
          .area
            h3
              a(href='#')
                | 最熱立委選聞
            .area_body
              dl
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 民進黨議員狂罵「波卡」！網怒：假道學、看清風向好嗎
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 日本11歲小學生身材長這樣...也太不科學惹！
                dt
                  a(href='#') 女神結婚背後的殘酷現實：人帥男子漢，人醜是癡漢
                dt
                  a(href='#') 波多野結衣是擋箭牌？北市府「三大陰謀論」曝光
                dt
                  a(href='#') 小朋友問波多野結衣是誰？網友以各行業神譬喻！
                dt
                  a(href='#') 負債天菜VS有錢醜男 女生最後選擇嫁給…？
            // /legislator-news


          
      // /#wrapper
      #footer
        #footer_wrapper
          #footer_wrapper_links.only_web
            a(href='http://event.udn.com/AD/', target='_blank') 刊登網站廣告 ︱
            a(href='http://udn.com/page/topic/496', target='_blank') 網站總覽 ︱
            a(href='http://udn.com/page/topic/184', target='_blank') FAQ ︱
            a(href='http://www.udngroup.com/2c/cservice/index2.jsp?qfile=dotcom', target='_blank') 客服 ︱
            a(href='http://udndata.com/udnauthority.html', target='_blank') 新聞授權 ︱
            a(href='http://udn.com/page/topic/185', target='_blank') 服務條款 ︱
            a(href='http://udn.com/page/topic/495', target='_blank') 著作權 ︱
            a(href='http://www.udngroup.com/2c/private.jsp', target='_blank') 隱私權聲明 ︱
            a(href='http://www.udngroup.com/2c/cservice/index.jsp', target='_blank') 聯合報系 ︱
            a(href='http://www.udngroup.com/2c/promote/orderall.jsp', target='_blank') 訂報紙 ︱
            a(href='http://co.udn.com/', target='_blank') 關於我們 ︱
            a(href='http://co.udn.com/CORP/job.html', target='_blank') 招募夥伴 
          // /#footer_wrapper_links
          b 聯合線上公司 著作權所有 © udn.com All Rights Reserved.
        // /#footer_wrapper
      // /#footer
      a#gotop(class="gt-top") Top
      // /#gotop
      #show_box(style='display: none;')
      // /#show_box
    // /#container
