.main-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#idmap {
  display: block;
  background-color: white;
}

.control {
  margin: 0 auto;
  width: 420px;
  padding: 10px 10px 50px 10px
}

.sorts {
  display: inline-block;
  width: 65px;
  border: 0;
  background-color: #fff;
  padding: 10px;
}
