.links {
  padding-bottom: 10px;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#idmap {
  display: block;
  background-color: white;
}

.control {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0 50px 0;
}

.sorts {
  display: inline-block;
  width: 16%;
  border: 0;
  background-color: #fff;
  padding: 10px;
}

.node:hover circle {
  fill: orange !important ;
}

.node:hover text {
  fill: white !important ;
}

/* tooltips css*/
.d3-tip {
  font-size: 14px;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip .tooltip-text {
  color: #BEAD92;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
