* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "微軟正黑體", "Microsoft JhengHei", "LiHei Pro";
}
a:hover {
  color: #f66e00;
}
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}
#ad_1 iframe {
  width: 100%;
}
#wrapper {
  display: block;
  overflow: hidden;
}
#container {
  background: #e1dec4;
}
#gotop {
  right: 18px;
  bottom: 10px;
  cursor: pointer;
}
@media (max-width: 1016px) {
  #gotop {
    bottom: 90px;
  }
}
#mainbar,
#sidebar {
  margin-top: 20px;
}
@media (max-width: 766px) {
  #mainbar {
    margin-top: 0;
  }
}
#video_live ~ #mainbar,
#video_live ~ #sidebar,
#highchart-vote ~ #mainbar,
#highchart-vote ~ #sidebar {
  margin-top: 10px;
}
#header {
  height: 125px;
  margin: 0 auto;
  background: #aca885;
}
#header.active .menu {
  z-index: 20;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
  box-shadow: none;
}
@media (max-width: 766px) {
  #header.active .menu {
    background: rgba(89,82,66,0.95);
  }
}
#header_body_wrapper {
  height: 80px;
}
#video_live {
  overflow: hidden;
  height: 490px;
  padding: 20px;
}
#video_live.area {
  margin: 0;
}
@media (max-width: 766px) {
  #video_live.area {
    margin: 0 10px;
  }
}
@media (max-width: 1016px) {
  #video_live {
    height: auto;
    padding: 20px;
  }
}
#highchart-vote.area {
  margin: 20px 0 0 0;
}
@media (max-width: 766px) {
  #highchart-vote.area {
    margin: 0 10px !important;
  }
}
#footer {
  background: #4b3f27;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
  min-width: 100% !important;
}
.highchart-container {
  width: 100%;
  min-height: 400px;
}
.sidebar_fix-mid-scroll {
  top: auto;
  bottom: 0;
}
.sidebar_fix-bottom-fixed {
  position: absolute;
  bottom: 0;
}
.logo {
  position: absolute;
  top: 50%;
  display: block;
  height: 62px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/img/logo.png") no-repeat -1px -1px;
}
.logo.logo-backudn {
  left: 0;
  width: 75px;
  background-position: left center;
}
.logo.logo-voteudn {
  left: 75px;
  width: 330px;
  background-position: -75px center;
}
.video-tube {
  display: inline-block;
  float: left;
  width: 70%;
  height: 450px;
}
@media (max-width: 1016px) {
  .video-tube {
    display: block;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 766px) {
  .video-tube {
    height: 300px;
  }
}
.video-chat {
  display: inline-block;
  float: right;
  width: 28%;
}
.video-chat .chat-send {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: #575757;
}
.video-chat .chat-send:hover {
  background: rgba(87,87,87,0.63);
}
.video-chat .chat-send:active {
  position: relative;
  top: 1px;
}
.video-chat .chat-box {
  height: 300px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
.video-chat .chat-box.tse-scrollable {
  width: auto;
}
.video-chat .chat-box li {
  line-height: 1.7;
  padding: 0 0 2px 5px;
  list-style: none;
}
.video-chat .chat-box .chatbox-timestamp {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 5px;
  color: #939393;
}
.video-chat .chat-box .from {
  font-weight: bold;
  color: #0c00ff;
}
.video-chat .chat-box .message {
  padding-left: 10px;
}
.video-chat .chat-textbox,
.video-chat .nickname-box {
  padding: 5px 0;
}
.video-chat .chat-textbox input.error,
.video-chat .nickname-box input.error,
.video-chat .chat-textbox textarea.error,
.video-chat .nickname-box textarea.error {
  border: 1px solid transparent;
  box-shadow: 0 0 5px #b21238;
}
.video-chat .chat-textbox textarea {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 10px;
  resize: none;
  color: #606060;
  border: none;
  background: #f0f0f0;
}
.video-chat .chat-textbox textarea::-webkit-input-placeholder {
  opacity: 0.6;
  color: #606060;
}
.video-chat .chat-textbox textarea::-moz-placeholder {
  opacity: 0.6;
  color: #606060;
}
.video-chat .chat-textbox textarea:-moz-placeholder {
  opacity: 0.6;
  color: #606060;
}
.video-chat .chat-textbox textarea:ms-input-placeholder {
  overflow: hidden;
  opacity: 0.6;
  color: #606060;
}
.video-chat .nickname-box {
  padding-bottom: 0;
}
.video-chat .nickname-box input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  color: #777034;
  border: none;
  background: #e1dec4;
}
.video-chat .nickname-box input[type="text"]::-webkit-input-placeholder {
  opacity: 0.6;
  color: #777034;
}
.video-chat .nickname-box input[type="text"]::-moz-placeholder {
  opacity: 0.6;
  color: #777034;
}
.video-chat .nickname-box input[type="text"]:-moz-placeholder {
  opacity: 0.6;
  color: #777034;
}
.video-chat .nickname-box input[type="text"]:-ms-input-placeholder {
  opacity: 0.6;
  color: #777034;
}
.video-chat .nickname-box .nickname-placeholer {
  display: none;
  height: 30px;
}
.video-chat .nickname-box .nickname-placeholer .not-name {
  float: right;
}
.video-chat .nickname-box .nickname-placeholer .not-name a {
  font-size: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #c1c1c1;
}
.video-chat .nickname-box .nickname-placeholer .not-name a:hover {
  text-decoration: underline;
  color: #808080;
}
.video-chat .nickname-box .nickname-placeholer .not-name .nickname-name {
  color: #c1c1c1 !important;
  font-weight: bold;
  color: #f00;
}
@media (max-width: 1016px) {
  .video-chat {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
}
.menu {
  height: 450px;
  background: #595242;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu > dl {
  height: 45px;
  padding-top: 0;
}
.menu > dl > dt {
  display: inline-block;
  height: 45px;
}
.menu > dl > dt > a {
  font-size: 20px;
  font-size: 2rem;
  height: auto;
  padding: 7px 15px;
  letter-spacing: 0;
  color: #e1dec4;
  text-shadow: none;
}
